

body {
    font-family: 'Open Sans Condensed', sans-serif;
     background-image: linear-gradient(135deg, $gradient-1, $gradient-2);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
background-color: rgb(129, 116, 116);
width: 400px;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;

}

.cta {
display: flex;
flex-direction: row;
justify-content: space-between;

}



button
{
    background-color: #293682;
    color: white;
    padding: 10px;
    border-radius: 8px;
margin-left: 40px;
}
